@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

:root {
  --clockFontFamily: monospace;
  --clockFontSize: calc(2em + 1vmin);
  --clockFontSizeType: calc(0.3em + 1vmin);
}

* {
  box-sizing: border-box;
  font-family: var(--clockFontFamily);
  margin: 0;
  line-height: 1.3;
  font-size: calc(0.8em + 0.6vmin);
  color: #fffffe;
  scroll-behavior: smooth;
  overflow: hidden;
  text-rendering: geometricPrecision, optimizeLegibility, optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  font-family: monospace;
}

a:hover {
  text-decoration: underline;
}
