.leftArea {
  flex: 1;
  padding: 1rem;
}
.status {
  line-height: 2.1;
}
.currentTime {
  font-size: var(--clockFontSize);
  line-height: 1.2;
  font-family: var(--clockFontFamily);
}
.currentTime span {
  font-size: var(--clockFontSizeType);
  font-family: var(--clockFontFamily);
}

.currentDay {
  line-height: 2;
}

/* ---------------------------------------------------------------- */

.rightArea {
}
